// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;
    font-size: 14px;

    > centerbox {
        background: rgba(36, 39, 58, 0.5);
    }

    button {
        border-radius: 0;
        background: transparent;
    }

    .app-count {
        font-size: 11px;
        margin-left: -5px;
        margin-top: 10px;
        min-width: 14px;
        border-radius: 50%;
        background-color: transparent;
    }
}
